<!-- value :Object, key :Partial -->
<%= form_for(@micropost) do |f| %>
  <!-- (Chap.10.3.2)Redefinition 'errorMessagePartial' -->
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
